<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>One Max Problem</title>
  <script src="../static/javascript/echarts.js"></script>
  <link rel="stylesheet" href="../static/css/ompMain.css">
  <script src="../static/javascript/jquery-2.1.1.js"></script>
  <script src="../static/javascript/jquery-ui.js"></script>
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <script src="../static/javascript/jquery-ui-slider-pips.js"></script>
  <link rel="stylesheet" href="../static/css/jquery-ui-slider-pips.css">
  <script src="../static/javascript/ompSlider.js"></script>
  <link rel="stylesheet" href="../static/css/ompSlider.css">
</head>

<body>
  <div id="container">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <div class="box1" , id="box1">
      <script src="../static/javascript/individualDisplay.js"></script>
    </div>
    <div class="box2" , id="box2">
      <script src="../static/javascript/generationsDisplay.js"></script>
    </div>
    <div class="box3" , id="box3">
      <div class="inputBox1" , id="inputBox1">
        <div class="slder-title">Generations</div>
        <div class="slider">
          <div class="slider1"></div>
        </div>
      </div>
      <div class="inputBox1" , id="inputBox2">
        <div class="slder-title">Pool Size</div>
        <div class="slider">
          <div class="slider2"></div>
        </div>
      </div>
      <div class="inputBox1" , id="inputBox3">
        <div class="slder-title">Number of genes</div>
        <div class="slider">
          <div class="slider3"></div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
