.ui-slider {
  background: #434d5a;
  border-radius: 20px;
  border: none;
  height: 10px;
}

.ui-slider-handle {
  border-radius: 20px;
}

.ui-slider .ui-slider-tip {
   visibility: visible;
   opacity: 1;
   /* top: 10px; */
}
